# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Config - including secrets
config.json
config.js
tenant.config.js

# Logs
logs
*.log
npm-debug.log*

# Invoices
/src/crons/invoices

# Backups
/src/crons/backups

# Backups
/src/crons/backups

# Assets
/src/assets

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Documentation
/Documentation

# uploads images
/public/uploads
